{% extends "ALSwaggerUIBundle::layout.html.twig" %}

{% block al_swagger_ui_favicons %}
    {% image '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/images/logo_small.png' output='images/logo_small.png' %}
    {% endimage %}
    {% image '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/images/favicon-32x32.png' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" sizes='32x32' />
    {% endimage %}
    {% image '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/images/favicon-16x16.png' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" sizes='16x16' />
    {% endimage %}
    {% image '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/images/throbber.gif' output='images/throbber.gif' %}
    {% endimage %}
{% endblock %}

{% block al_swagger_ui_stylesheets %}
    {% stylesheets '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/fonts/DroidSans-Bold.ttf' output='fonts/DroidSans-Bold.ttf' %}
    {% endstylesheets %}
    {% stylesheets '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/fonts/DroidSans.ttf' output='fonts/DroidSans.ttf' %}
    {% endstylesheets %}
    {% stylesheets
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/css/reset.css'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/css/typography.css'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/css/screen.css'
    %}
        <link href="{{ asset_url }}" media='screen' rel='stylesheet' type='text/css'/>
    {% endstylesheets %}
    {% stylesheets
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/css/reset.css'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/css/print.css'
    %}
        <link href="{{ asset_url }}" media='print' rel='stylesheet' type='text/css'/>
    {% endstylesheets %}

{% endblock %}

{% block al_swagger_ui_javascripts %}
    {% javascripts
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/object-assign-pollyfill.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/jquery-1.8.0.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/jquery.slideto.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/jquery.wiggle.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/jquery.ba-bbq.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/handlebars-4.0.5.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/lodash.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/backbone-min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/swagger-ui.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/highlight.9.1.0.pack.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/highlight.9.1.0.pack_extended.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/jsoneditor.min.js'
        '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/marked.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if auth_config.oauth.enable %}
        {% javascripts '%kernel.root_dir%/../vendor/swagger-api/swagger-ui/dist/lib/swagger-oauth.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    <script type="text/javascript">
      $(function () {
        window.swaggerUi = new SwaggerUi({
          url: {{ resource_list_url|json_encode|raw }},
          dom_id: "swagger-ui-container",
          supportedSubmitMethods: {{ js_config.supported_submit_methods|json_encode|raw }},
          validatorUrl: {{ js_config.validatorUrl|json_encode|raw }},
          onComplete: function(swaggerApi, swaggerUi){
            console.log('Loaded SwaggerUI');

            if(typeof initOAuth == "function") {
              initOAuth({
                clientId: {{ auth_config.oauth.client_id|json_encode|raw }},
                realm: {{ auth_config.oauth.realm|json_encode|raw }},
                appName: {{ auth_config.oauth.app_name|json_encode|raw }}
              });
            }

            $('pre code').each(function(i, e) {
              hljs.highlightBlock(e)
            });

            addApiKeyAuthorization();
          },
          onFailure: function(data) {
            console.log("Unable to Load SwaggerUI - " + data);
          },
          docExpansion: {{ js_config.expansion|json_encode|raw }},
          apisSorter: {{ js_config.sorter|json_encode|raw }},
          showRequestHeaders: false
        });

        function addApiKeyAuthorization(){
            var inputApiKey = $('#input_apiKey');

            if (inputApiKey[0]) {
              var key = encodeURIComponent(inputApiKey[0].value);
              if(key && key.trim() != "") {
                  var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization({{ auth_config.http.key_name|json_encode|raw }}, key, {{ auth_config.http.delivery|json_encode|raw }});
                  window.swaggerUi.api.clientAuthorizations.add("api_key", apiKeyAuth);
                  console.log("added key " + key);
              }            }
        }

        {% if auth_config.http.enable %}
            $('#input_apiKey').change(addApiKeyAuthorization);

            // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
            /*
              var apiKey = "myApiKeyXXXX123456789";
              $('#input_apiKey').val(apiKey);
            */
        {% endif %}

        window.swaggerUi.load();
    });
    </script>
{% endblock %}

{% block al_swagger_ui_auth_form %}
    {% if false %}
        <form id='api_selector'>
            <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
            <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
            <div class='input'><a id="explore" href="#">Explore</a></div>
        </form>
    {% endif %}
{% endblock %}

{% block al_swagger_ui_content %}
    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
{% endblock %}
